
/* #Joel's Floating Pancake Grid
================================================== */
    /* Base Grid */


/* Pattern for HTML

Create the rows in your document

<header>
...
</header>
<nav>
...
</nav>

etc.

Between the rows, you will need a continer <div class="container"> ... </div> 
This needs to be in each row, this is what is centered in the site.

The default wordpress navigation system will be converted. Try and match the number
of columns and main nav items to make it look its best.

If you need columns, add "onecol" "twocol" etc. to the container div
e.g. <div class="container fivecol"> ... </div> In the div, add in the columns you need

<div class="col">...</div>
<div class="col">...</div>
<div class="col">...</div>
<div class="col">...</div>
<div class="col">...</div>

one for each column. If you want them to span a couple or a few cols, add spantwo, spanthree etc. to the
col div.

e.g.  <div class="col spanthree">...</div>
*/

/*
 _______  _______  _______  _______ 
(  ____ )(  ___  )(  ____ )(  ___  )
| (    )|| (   ) || (    )|| (   ) |
| (____)|| (___) || (____)|| (___) |
|  _____)|  ___  ||  _____)|  ___  |
| (      | (   ) || (      | (   ) |
| )      | )   ( || )      | )   ( |
|/       |/     \||/       |/     \|
 
*/
@media only screen and (min-width: $mamabreak){
    $margin_width:$master_margin_width;
    $fullcontainer_width:$papawidth;

        .container                      { width: $fullcontainer_width; margin: 0 auto; padding: 0; overflow: hidden; }
        .container .col                 { float: left; margin: 0 0 ($margin_width/2)  $margin_width;}
        .container .nomargin,           
        .container .rowholder           { margin:0;}
        .container .rowholder .col:first-child           { margin:0 !important;}


    @for $i from 1 through $number_of_columns {
        $colwidth: ($fullcontainer_width/$i)-($margin_width*(($i+1)/$i));
        .col#{$i} { 
            .col {width: $colwidth;
                @for $i from 2 through $i {
                    &.span#{$i} {
                        width: ($colwidth*$i)+($margin_width*($i - 1));
                        .wp-caption {
                            max-width:  ($colwidth*$i)+($margin_width*($i - 1));
                        }
                        img {
                            max-width:  ($colwidth*$i)+($margin_width*($i - 1)); 
                            height:auto
                            }
                        ol.commentlist li img{
                             max-width:100%;
                            }                    
                        .wp-caption img {
                            max-width:  ($colwidth*$i)+($margin_width*($i - 1)) - 50px ; 
                        }
                    }
                } 
            }
        }
    }
}
/*
 _______  _______  _______  _______ 
(       )(  ___  )(       )(  ___  )
| () () || (   ) || () () || (   ) |
| || || || (___) || || || || (___) |
| |(_)| ||  ___  || |(_)| ||  ___  |
| |   | || (   ) || |   | || (   ) |
| )   ( || )   ( || )   ( || )   ( |
|/     \||/     \||/     \||/     \|

*/
@media only screen and (min-width: $teenbreak) and (max-width: $mamabreak) {

    $fullcontainer_width:$mamawidth;
    $margin_width:($master_margin_width * ($mamawidth/$papawidth));    

    .container                      { width: $fullcontainer_width; margin: 0 auto; padding: 0; overflow: hidden;}
    .container .col                 { float: left; margin: 0 0 ($margin_width/2) $margin_width;}
    .container .nomargin,            
    .container .rowholder           { margin:0;}
    .container .rowholder .col:first-child           { margin:0 !important;}


   @for $i from 1 through $number_of_columns {
    $colwidth: ($fullcontainer_width/$i)-($margin_width*(($i+1)/$i));
    .col#{$i} { 
        .col {width: $colwidth;
            @for $i from 2 through $i {
                &.span#{$i} {
                    width: ($colwidth*$i)+($margin_width*($i - 1));
                        .wp-caption {
                            max-width:  ($colwidth*$i)+($margin_width*($i - 1)); 
                        }
                        img {
                            max-width:  ($colwidth*$i)+($margin_width*($i - 1)); 
                            height:auto
                            }
                        ol.commentlist li img{
                             max-width:100%;
                            }
                        .wp-caption img {
                            max-width:  ($colwidth*$i)+($margin_width*($i - 1)) - 50px ; 
                        }
                    }
                }
            }
        }
    }
}
/* #Tablet (Portrait)
_________ _______  _______  _       
\__   __/(  ____ \(  ____ \( (    /|
   ) (   | (    \/| (    \/|  \  ( |
   | |   | (__    | (__    |   \ | |
   | |   |  __)   |  __)   | (\ \) |
   | |   | (      | (      | | \   |
   | |   | (____/\| (____/\| )  \  |
   )_(   (_______/(_______/|/    )_)
 
*/
@media only screen and (min-width:0) and (max-width: $teenbreak) {
    $margin_width:5%;
    .wp-caption {
    width:  99% !important;
    margin: 0 0 10px 0 ;
    }
    .container{
        width: $teenwidth; 
        margin: 0 auto; 
        padding: 0; 
        overflow: hidden; 
    }
    .container .col                 { float: left; margin: 0 0 $margin_width $margin_width;}
    .container .nomargin,    
    .container .rowholder           { margin:0;}
    .container .rowholder .col,
    .container .rowholder           { margin:0 !important; width:100% !important;}


    @for $i from 1 through $number_of_columns {
        .col#{$i} { 
            .col {width: $teenwidth;
                @for $i from 2 through $i {
                    &.span#{$i} {
                        width: $teenwidth;
                        .wp-caption {
                            max-width:  $teenwidth + 10%; 
                            width:100% !important;
                            padding: 10px 0;

                        }
                        img {
                            max-width:  $teenwidth + 10%; 
                            height:auto
                            }
                        .wp-caption img {
                            max-width:  $teenwidth - 2% ; 
                            width:  $teenwidth - 2% !important;                        }
                    }
                }
            }
        }
    }
    .container .fullwidth           {width:  $teenwidth;}
}
